@font-face {
    font-family: 'Literata';
    src: url('fonts/Literata-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Literata', serif;
    background-color: beige;
}
